body {
    background-color: rgb(249, 249, 249);
}

h1 {
    color: powderblue;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif; 
    text-align: center
}

h2 {
    color: black;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-top: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif
}

.container {
    width: 900x;
    padding: 10px;  
    margin-left: 45%;
}

table {
    margin-top: 3%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 500px;
    margin-left: 40%;
}
 
